@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nopadding {
  padding-left: 0;
  padding-right: 0;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}



.grey {
  background: #F0F3F7;
}

#wrap {
  min-height: 612px;
  position: relative;
  overflow: hidden;
}

.flower-right {
  height: 277px;
  width: 330px;
  position: absolute;
  right: 0;
  background-image: url(../assets/image/flower-r.png);
  background-position-y: -73px;
  background-position-x: 0px;
  background-repeat: no-repeat;
}

.flower-first {
  top: 140px;
}
.flower-second {
  top: 888px;
}

.flower-left {
  height: 277px;
  width: 330px;
  position: absolute;
  left: 0;
  top: 360px;
  background-image: url(../assets/image/flower-l.png);
  background-position-y: -2px;
  background-position-x: -6px;
  background-repeat: no-repeat;
}

h1.title {
  font-size: 40px;
  color: #4E8C25;
  line-height: 48px;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub-title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  color: #373A40;
  margin-bottom: 24px;
}

.text {
  font-size: 18px;
  color: #373A40;
  line-height: 32px;
  margin-bottom: 24px;
}

.services {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 48px;
  & li {
    color: #4E8C25;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      left: -16px;
      top: 15px;
      width: 10px;
      height: 1px;
      background: #4E8C25;
    }
  }
}

.doctors {
  margin-bottom: 72px;
  
  &-item {
    max-width: 200px;
    text-align: center;
    margin: auto;
    &__img {
      width: 100%;
      margin-bottom: 12px;
      & img {
        width: 100%;
      }
    }
  }
  &-name {
    font-size: 15px;
    line-height: 24px;
  }
}

.page-content {
  max-width: 744px;
}

.mq-0 {
  margin-left: 0;
  margin-right: 0;
}

.previews {
  margin-bottom: 52px;
  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    & span {
      color: #4E8C25;
      font-size: 15px;
      line-height: 24px;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
  }
  &-content {
    background: #F0F3F7;
    border-radius: 4px;
    padding: 24px 32px;
    margin-bottom: 28px;
    position: relative;
    font-size: 18px;
    line-height: 32px;
    color: #373A40;
    &:before {
      position: absolute;
      bottom: -28px;
      left: 30px;
      content: url(../assets/image/Polygon.png);
    }
  }
  &-name {
    display: inline-block;
    color: #373A40;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 4px;
  }
  &-link {
    text-decoration: none;
    color: #4E8C25;
    font-size: 18px;
    line-height: 32px;
  }
  &-date {
    font-size: 15px;
    line-height: 24px;
    color: #696F75;
  }
}

.p-0 > .callback {
  max-width: 320px;
  float: right;
}

.callback {
  background: #F0F3F7;
  border-radius: 4px;
  padding: 32px;
  margin-bottom: 96px;

  & form {
    display: flex;
    flex-direction: column;

  }
  & .sub-title {
    margin-bottom: 8px;
  }
  & span {
    font-size: 15px;
    line-height: 24px;
    color: #696F75;
    display: inline-block;
    margin-bottom: 16px;
  }
  & input {
    background: #F0F3F7;
    border: none;
    border-bottom: 1px solid #C8CDD6;
    max-width: 256px;
    margin-bottom: 16px;
    padding: 8px 0;
    margin-top: 16px;
  }
  & textarea {
    background: #F0F3F7;
    border: none;
    border-bottom: 1px solid #696F75;
    padding: 8px 0;
    margin-top: 16px;
    margin-bottom: 24px;
    resize: none;
  }
}

.btn {
  background: linear-gradient(180deg, #70BD2A 0%, #4E8C25 100%);
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  height: 48px;
  color: #fff;
  border: none;
  cursor: pointer;
  &-callback {
    max-width: 200px;
    border: none;
    text-transform: uppercase;
  }
  &-priyem {
    width: 100%;
    text-transform: uppercase;
  }
}

.checkbox {
  display: none;
  &-wrap {
    height: 24px;
    margin-right: 8px;
  }
  &-mask {
    min-width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #C8CDD6;
    display: inline-block;
    background: #fff;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 7px;
      height: 11px;
      transform: rotate(45deg);
      border: 1px solid #4E8C25;
      border-width: 0 1px 1px 0;
      top: 4px;
      left: 7px;
      opacity: 0;
    }
  }
  &-text {
    font-size: 15px;
    line-height: 24px;
    & a {
      color: #4E8C25;
      text-decoration: none;
    }
  }
}

.form-checker {
  margin-bottom: 24px;
}
.checkbox:checked + .checkbox-mask:before {
  opacity: 1;
}


.priyem {
  &-input {
    width: 100%;
  }
}
h2, h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-head {
  text-align: center;
  & h2 {
    font-size: 26px;
    line-height: 32px;
  }
  & p {
    color: #696F75;
    font-size: 15px;
    max-width: 256px;
    line-height: 24px;
    margin: auto;
    margin-bottom: 16px;
  }
}

.greentext {
  color: #4E8C25;
  font-size: 15px;
  line-height: 24px;
}

.download {
  margin-right: 8px;
  &-wrap {
    cursor: pointer;
  }
}
.services-price {
  margin-bottom: 48px;
}
.price {
  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #373A40;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  &-head {
    background: #F0F3F7;
    padding: 8px 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 24px;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid #C8CDD6;
    padding-bottom: 8px;
    font-size: 15px;
    line-height: 24px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  &-foot {
    font-size: 15px;
    line-height: 24px;
    color: #696F75;
  }
}



.modal {
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 420px;
  z-index: 99;
  box-shadow: 0 0 10px #696F75;
  display: none;
  &-back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #373A40;
    opacity: 0.9;
    z-index: 97;
    display: none;
  }
}